*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.container .title{
	font-size: 30px;
}

.container{
	margin-left: 50px;
	margin-top: 30px;
	display: flex;
}

.container .book{
	color: #5ee6e6;
}

.container .search-bar{
	margin-left: 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #FFF;
	border: 1px #131414 solid;
	border-radius: 60px;
	padding:2px;
	width: 100%;
	max-width: 300px;
	margin-bottom: 15px;
}

.container .search-bar .search-input{
	background:transparent;
	border: none;
	outline: none;
	width: 80%;
	font-size: 13px;
	margin-left: 5px;
}

.container .search-bar .search-btn{
	border: 0;
	height: 30px;
	width:30px;
	border-radius: 50%;
	background: #58629b;
	cursor: pointer;
}

.container .search-bar img{
	height: 20px;
	width: 20px;
}

.add-btn{
	text-align: right;
	margin-right: 200px;
}

#add-new-book{
	cursor: pointer;
	background-color: #4D60DC;
	color: #FFF;
	padding: 5px;
	text-transform: capitalize;
	border-radius: 3px;
}

#add-new-book i{
	margin-right: 5px;
}

.form-title {
	text-align: center;
	margin-top: 10px;
}

.add-form-title {
	display: flex;
	justify-content: space-between;
}

.add-form-title i{
	margin-top: 15px;
	font-size: 20px;
	cursor: pointer;
}

.add-book-page{
	position: fixed;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	visibility: hidden;
	display: flex;
	border: 2px #BABABA solid;
	z-index: 10;
	border-radius: 6px;
	width: 350px;
	margin: auto;
	background-color: white;
}

.popup{
	margin-left: 15px;
}

.field{
	margin-top: 15px;
}

.field textarea{
	height: 60px;
	width: 310px;
	resize: none;
}

.field input{
	padding: 4px;
	width: 310px;
}

.add-book-page .field input{
	margin-top: 5px;
}

.btn{
	display: flex;
	justify-content: space-between;
}

.close, .submit{
	margin-top: 15px;
	width: 70px;
	height: 30px;
	margin-bottom: 10px;
}

.close {
	background-color: #ED3939;
	color: #FFF;
	border:none;
	border-radius: 2px;
	cursor: pointer;
}

.submit {
	background-color: #52C750;
	color:#FFF;
	border: none;
	border-radius: 2px;
	cursor: pointer;
}

.open-add-page{
	opacity: 1;
	visibility: visible;
}

.open-update-page{
	opacity: 1;
	visibility: visible;
}

.overlay{
	position: fixed;
  	opacity: 0;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	background-color: rgba(0, 0, 0, .5);
  	pointer-events: none;
}

.list-book{
	position: absolute;
	top: 110px;
	left: 300px;
}

.render {
	margin-top: 50px;
	display: flex;
	margin-left: 60px;
}

#filter {
	margin-top: -50px;
}

#filter h2 {
	margin-bottom: 10px;
}

#filter input {
	margin-left: 15px;
}

.book-list {
	display: flex;
	margin-left: 200px;
	width: 800px;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 20px;
}

.card-book {
	margin-left: 10px;
	width: 230px;
	height: 330px;
	border: 1px solid;
	box-shadow: 3px 3px #ADBABA;
	margin-top: 10px;
	margin-bottom: 10px;
}

.book-img {
	width: 150px;
	height: 220px;
	background-size: cover;
	margin-left: 40px;
	margin-top: 15px;
}

.book-author {
	display: none;
}

.book-title{
	margin-top: 10px;
	font-size: 15px;
	margin-left: 10px;
}

.book-des{
	margin-top: 5px;
	margin-left: 10px;
}

.delete-btn {
	margin-top: 7px;
	width: 90px;
	margin-left: 30px;
	height: 30px;
	background-color: #ED3939;
	border: none;
	color: #FFF;
	cursor: pointer;
	font-size: 15px;
}

.edit-btn {
	width: 70px;
	margin-left: 10px;
	height: 30px;
	background-color: #E6D437;
	color: #FFF;
	cursor: pointer;
	font-size: 15px;
	border: none;
}

.card-book i{
	margin-left: 5px;
}

.update-form{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	border: 2px #BABABA solid;
	z-index: 10;
	border-radius: 6px;
	width: 350px;
	margin: auto;
	background-color: white;
}

.update-form-btn {
	margin-left: 20px;
	margin-top: 15px;
	display: flex;
	width: 300px;
	justify-content: space-between;
}

.delete-form {
	display: flex;
	justify-content: space-between;
	position: fixed;
	width: 250px;
	height: 80px;
	border: 1px solid;
	top: 50%;
	left: 50%;
	visibility: hidden;
	background-color: #FFF;
}

.delete-form .sure-delete {
	margin-top: 40px;
	margin-right: 5px;
	margin-bottom: 0;
	height: 25px;
	background-color: #ED3939;
	border: none;
	cursor: pointer;
	color: #FFF;
	border-radius:2px;
}

.delete-form i {
	position: absolute;
	left: 93%;
	top:4px;
	cursor: pointer;
}

.delete-form p {
	margin-left: 5px;
	margin-top: 5px;
}

.btn-update {
	width: 60px;
	height: 30px;
	margin-bottom: 10px;
	cursor: pointer;
	border-radius: 3px;
	background-color: #E6D437;
	color: #FFF;
	border: none;
}

.btn-close {
	width: 50px;
	height: 30px;
	margin-bottom: 10px;
	background-color: #ED3939;
	border: none;
	cursor: pointer;
	color: #FFF;
	border-radius: 3px;
}

.update-form input{
	margin-top: 5px;
}

.update-form select {
	margin-left: 5px;
}
